In [5]:
### package install
!pip install imblearn

Requirement already satisfied: imblearn in c:\users\sm-pc\appdata\local\programs\python\python39\lib\site-packages (0.0)
Requirement already satisfied: imbalanced-learn in c:\users\sm-pc\appdata\local\programs\python\python39\lib\site-packages (from imblearn) (0.10.1)
Requirement already satisfied: numpy>=1.17.3 in c:\users\sm-pc\appdata\local\programs\python\python39\lib\site-packages (from imbalanced-learn->imblearn) (1.23.5)
Requirement already satisfied: scipy>=1.3.2 in c:\users\sm-pc\appdata\local\programs\python\python39\lib\site-packages (from imbalanced-learn->imblearn) (1.10.1)
Requirement already satisfied: scikit-learn>=1.0.2 in c:\users\sm-pc\appdata\local\programs\python\python39\lib\site-packages (from imbalanced-learn->imblearn) (1.2.2)
Requirement already satisfied: joblib>=1.1.1 in c:\users\sm-pc\appdata\local\programs\python\python39\lib\site-packages (from imbalanced-learn->imblearn) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\sm-pc\appdata\local\programs\python\python39\lib\site-packages (from imbalanced-learn->imblearn) (3.1.0)

In [4]:
!python.exe -m pip install --upgrade pip

Requirement already satisfied: pip in c:\users\sm-pc\appdata\local\programs\python\python39\lib\site-packages (23.0.1)
Collecting pip
  Downloading pip-23.1-py3-none-any.whl (2.1 MB)
     ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
     ------ --------------------------------- 0.3/2.1 MB 9.9 MB/s eta 0:00:01
     -------------- ------------------------- 0.7/2.1 MB 9.1 MB/s eta 0:00:01
     ---------------------- ----------------- 1.1/2.1 MB 9.0 MB/s eta 0:00:01
     ------------------------------ --------- 1.6/2.1 MB 8.4 MB/s eta 0:00:01
     ---------------------------------------  2.1/2.1 MB 8.7 MB/s eta 0:00:01
     ---------------------------------------- 2.1/2.1 MB 8.2 MB/s eta 0:00:00
Installing collected packages: pip
  Attempting uninstall: pip
    Found existing installation: pip 23.0.1
    Uninstalling pip-23.0.1:
      Successfully uninstalled pip-23.0.1
Successfully installed pip-23.1

In [8]:
import pandas as pd

In [9]:
카드자료 = pd.read_csv('/Bigdata/archive/creditcard.csv')
카드자료.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [10]:
카드자료["Class"] = 카드자료["Class"].astype('category')
for 변수명 in list(카드자료.columns[:-1]):
    카드자료[변수명] = 카드자료[변수명].astype('float32')
카드자료.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float32
 1   V1      284807 non-null  float32
 2   V2      284807 non-null  float32
 3   V3      284807 non-null  float32
 4   V4      284807 non-null  float32
 5   V5      284807 non-null  float32
 6   V6      284807 non-null  float32
 7   V7      284807 non-null  float32
 8   V8      284807 non-null  float32
 9   V9      284807 non-null  float32
 10  V10     284807 non-null  float32
 11  V11     284807 non-null  float32
 12  V12     284807 non-null  float32
 13  V13     284807 non-null  float32
 14  V14     284807 non-null  float32
 15  V15     284807 non-null  float32
 16  V16     284807 non-null  float32
 17  V17     284807 non-null  float32
 18  V18     284807 non-null  float32
 19  V19     284807 non-null  float32
 20  V20     284807 non-null  float32
 21  V21     284807 non-null  float32
 22  V22     284807 non-null  float32
 23  V23     284807 non-null  float32
 24  V24     284807 non-null  float32
 25  V25     284807 non-null  float32
 26  V26     284807 non-null  float32
 27  V27     284807 non-null  float32
 28  V28     284807 non-null  float32
 29  Amount  284807 non-null  float32
 30  Class   284807 non-null  category
dtypes: category(1), float32(30)
memory usage: 32.9 MB

In [11]:
카드자료.to_parquet('creditcard.parquet')

In [12]:
카드자료["Class"].value_counts()

0    284315
1       492
Name: Class, dtype: int64

In [13]:
X = 카드자료.iloc[:,0:-1]
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 30 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float32
 1   V1      284807 non-null  float32
 2   V2      284807 non-null  float32
 3   V3      284807 non-null  float32
 4   V4      284807 non-null  float32
 5   V5      284807 non-null  float32
 6   V6      284807 non-null  float32
 7   V7      284807 non-null  float32
 8   V8      284807 non-null  float32
 9   V9      284807 non-null  float32
 10  V10     284807 non-null  float32
 11  V11     284807 non-null  float32
 12  V12     284807 non-null  float32
 13  V13     284807 non-null  float32
 14  V14     284807 non-null  float32
 15  V15     284807 non-null  float32
 16  V16     284807 non-null  float32
 17  V17     284807 non-null  float32
 18  V18     284807 non-null  float32
 19  V19     284807 non-null  float32
 20  V20     284807 non-null  float32
 21  V21     284807 non-null  float32
 22  V22     284807 non-null  float32
 23  V23     284807 non-null  float32
 24  V24     284807 non-null  float32
 25  V25     284807 non-null  float32
 26  V26     284807 non-null  float32
 27  V27     284807 non-null  float32
 28  V28     284807 non-null  float32
 29  Amount  284807 non-null  float32
dtypes: float32(30)
memory usage: 32.6 MB

In [14]:
y = 카드자료["Class"]
y.info()

<class 'pandas.core.series.Series'>
RangeIndex: 284807 entries, 0 to 284806
Series name: Class
Non-Null Count   Dtype
--------------   -----
284807 non-null  category
dtypes: category(1)
memory usage: 278.4 KB

In [16]:
from imblearn.over_sampling import SMOTE
X_o, y_o = SMOTE(random_state=316, sampling_strategy=0.5).fit_resample(X,y)