수치자료를 범주형자료로

In [1]:
import pandas as pd 
import numpy as np

In [2]:
np.random.seed(316)
정규난수=np.random.normal(size=1000)
정규난수[0:10]

array([ 0.52545948,  0.70764429, -0.49330928,  0.24008271,  0.60501974,
       -0.85065702, -1.32245783, -0.15035946, -0.02010509,  0.54441863])

구간으로 조절

In [3]:
동일구간=pd.cut(정규난수,bins=5)
동일구간

[(-0.525, 0.768], (-0.525, 0.768], (-0.525, 0.768], (-0.525, 0.768], (-0.525, 0.768], ..., (-0.525, 0.768], (-1.818, -0.525], (-1.818, -0.525], (-0.525, 0.768], (0.768, 2.062]]
Length: 1000
Categories (5, interval[float64, right]): [(-3.118, -1.818] < (-1.818, -0.525] < (-0.525, 0.768] < (0.768, 2.062] < (2.062, 3.355]]

In [4]:
동일구간.describe()

                  counts  freqs
categories
(-3.118, -1.818]      28  0.028
(-1.818, -0.525]     284  0.284
(-0.525, 0.768]      484  0.484
(0.768, 2.062]       180  0.180
(2.062, 3.355]        24  0.024

In [5]:
구간지정=pd.cut(정규난수, bins=[-3.5,-1.5,-0.5,0.5,1.5,3.5], labels=["A","B","C","D","E"])
구간지정

['D', 'D', 'C', 'C', 'D', ..., 'C', 'B', 'B', 'C', 'D']
Length: 1000
Categories (5, object): ['A' < 'B' < 'C' < 'D' < 'E']

In [6]:
구간지정.describe()

            counts  freqs
categories
A               58  0.058
B              266  0.266
C              380  0.380
D              230  0.230
E               66  0.066

갯수로 조절

In [7]:
동일개수=pd.qcut(정규난수, q=5)
동일개수.describe()

                  counts  freqs
categories
(-3.112, -0.845]     200    0.2
(-0.845, -0.295]     200    0.2
(-0.295, 0.191]      200    0.2
(0.191, 0.783]       200    0.2
(0.783, 3.355]       200    0.2

In [8]:
비율지정=pd.qcut(정규난수,q=[0,0.25,0.5,0.75,1])  # 누적이네
비율지정.describe()

                   counts  freqs
categories
(-3.112, -0.686]      250   0.25
(-0.686, -0.0377]     250   0.25
(-0.0377, 0.627]      250   0.25
(0.627, 3.355]        250   0.25

명목자료는 순서 ordered를 False. 부등호가 없다.

In [9]:
구간지정=pd.cut(정규난수, bins=[-3.5,-1.5,-0.5,0.5,1.5,3.5], labels=["A","B","C","D","E"],ordered=False)
구간지정

['D', 'D', 'C', 'C', 'D', ..., 'C', 'B', 'B', 'C', 'D']
Length: 1000
Categories (5, object): ['A', 'B', 'C', 'D', 'E']

In [11]:
구간지정.categories  # 범주값을 활용하고 싶을 때

Index(['A', 'B', 'C', 'D', 'E'], dtype='object')

범주형 자료의 수치화

- 명목 자료면 가변수로
- 순서자료면 등간격의 수치로

In [12]:
주택=pd.read_csv("housing.csv")
주택.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

명목자료를 가변수로:

In [13]:
주택["해변접근성"]=주택['ocean_proximity'].astype('category')  # 범주를 가변수로
주택["해변접근성"]

0        NEAR BAY
1        NEAR BAY
2        NEAR BAY
3        NEAR BAY
4        NEAR BAY
           ...
20635      INLAND
20636      INLAND
20637      INLAND
20638      INLAND
20639      INLAND
Name: 해변접근성, Length: 20640, dtype: category
Categories (5, object): ['<1H OCEAN', 'INLAND', 'ISLAND', 'NEAR BAY', 'NEAR OCEAN']

In [14]:
주택위치=pd.get_dummies(주택["해변접근성"])
주택위치

       <1H OCEAN  INLAND  ISLAND  NEAR BAY  NEAR OCEAN
0              0       0       0         1           0
1              0       0       0         1           0
2              0       0       0         1           0
3              0       0       0         1           0
4              0       0       0         1           0
...          ...     ...     ...       ...         ...
20635          0       1       0         0           0
20636          0       1       0         0           0
20637          0       1       0         0           0
20638          0       1       0         0           0
20639          0       1       0         0           0

[20640 rows x 5 columns]

In [15]:
주택위치.columns=["Ocean","Inland","Island","NearBay","NearOcean"]  # 컬럼 이름에 빈칸이 있으면 안좋음
주택위치

       Ocean  Inland  Island  NearBay  NearOcean
0          0       0       0        1          0
1          0       0       0        1          0
2          0       0       0        1          0
3          0       0       0        1          0
4          0       0       0        1          0
...      ...     ...     ...      ...        ...
20635      0       1       0        0          0
20636      0       1       0        0          0
20637      0       1       0        0          0
20638      0       1       0        0          0
20639      0       1       0        0          0

[20640 rows x 5 columns]

순서자료를 동일 간격의 수치로

In [16]:
구간지정

['D', 'D', 'C', 'C', 'D', ..., 'C', 'B', 'B', 'C', 'D']
Length: 1000
Categories (5, object): ['A', 'B', 'C', 'D', 'E']

In [17]:
from pandas.api.types import CategoricalDtype

In [24]:
순서지정=["A","B","C","D","E"]
순서구간=구간지정.astype(CategoricalDtype(categories=순서지정,ordered=True))  # 
순서구간

['D', 'D', 'C', 'C', 'D', ..., 'C', 'B', 'B', 'C', 'D']
Length: 1000
Categories (5, object): ['A' < 'B' < 'C' < 'D' < 'E']

In [25]:
순서변환={"A":1,"B":2,"C":3,"D":4,"E":5}  # 순서가 없던 명목자료를 순서자료로 바꾸기
순서구간=순서구간.map(순서변환).astype('int8')  # 8bit integer로 바꾸겠다는 뜻
순서구간

array([4, 4, 3, 3, 4, 2, 2, 3, 3, 4, 4, 2, 4, 4, 1, 3, 2, 4, 3, 5, 3, 3,
       3, 2, 5, 2, 5, 3, 3, 4, 2, 4, 2, 4, 3, 4, 1, 4, 4, 3, 5, 3, 3, 2,
       3, 4, 4, 3, 3, 4, 2, 4, 3, 3, 3, 3, 1, 3, 3, 2, 2, 3, 4, 3, 3, 2,
       5, 3, 4, 3, 4, 1, 2, 2, 1, 2, 2, 4, 3, 4, 3, 3, 2, 3, 4, 3, 5, 4,
       4, 1, 2, 4, 3, 1, 2, 3, 4, 5, 1, 4, 4, 3, 3, 2, 4, 3, 3, 3, 2, 4,
       3, 4, 3, 2, 4, 3, 3, 2, 2, 3, 2, 4, 2, 3, 2, 2, 3, 4, 2, 4, 3, 3,
       2, 1, 5, 2, 1, 3, 2, 3, 3, 2, 4, 3, 2, 4, 2, 3, 3, 3, 3, 3, 2, 3,
       2, 3, 5, 4, 2, 1, 3, 3, 2, 5, 3, 3, 3, 3, 2, 4, 2, 2, 4, 2, 2, 3,
       3, 3, 4, 2, 3, 3, 2, 3, 2, 2, 3, 3, 3, 2, 2, 3, 3, 3, 2, 3, 4, 3,
       2, 4, 4, 3, 3, 2, 4, 4, 2, 1, 2, 3, 4, 4, 5, 4, 3, 4, 3, 4, 3, 4,
       3, 3, 4, 2, 2, 3, 2, 4, 2, 3, 3, 2, 4, 2, 1, 2, 3, 3, 4, 4, 3, 2,
       4, 4, 3, 3, 2, 2, 3, 4, 4, 4, 3, 4, 3, 3, 2, 2, 2, 1, 4, 3, 4, 2,
       2, 4, 2, 1, 3, 3, 4, 3, 4, 1, 4, 3, 4, 3, 3, 3, 4, 3, 4, 2, 3, 3,
       4, 4, 3, 4, 4, 2, 3, 1, 3, 4, 2, 5, 2, 3, 2, 4, 2, 3, 2, 4, 2, 2,
       2, 4, 2, 2, 2, 2, 4, 3, 2, 3, 3, 4, 5, 2, 3, 2, 4, 4, 3, 2, 3, 4,
       3, 3, 3, 3, 2, 2, 3, 3, 3, 4, 5, 3, 3, 4, 2, 2, 3, 2, 5, 3, 3, 2,
       5, 3, 3, 4, 4, 4, 3, 2, 4, 2, 4, 3, 2, 3, 4, 2, 1, 2, 3, 4, 1, 3,
       1, 3, 3, 4, 3, 3, 4, 2, 2, 3, 4, 5, 3, 4, 4, 5, 2, 2, 4, 5, 2, 4,
       2, 2, 3, 4, 4, 5, 3, 1, 4, 2, 3, 4, 2, 3, 3, 2, 4, 3, 2, 3, 3, 3,
       4, 4, 5, 3, 2, 1, 3, 4, 2, 5, 2, 3, 4, 4, 4, 5, 1, 3, 3, 3, 2, 2,
       2, 2, 2, 4, 2, 2, 3, 3, 4, 3, 3, 3, 4, 5, 5, 3, 3, 3, 3, 3, 2, 3,
       2, 2, 3, 3, 3, 2, 2, 4, 3, 3, 3, 4, 2, 2, 2, 3, 4, 2, 2, 2, 3, 4,
       4, 5, 3, 5, 3, 2, 3, 3, 2, 3, 3, 4, 3, 2, 4, 2, 4, 2, 3, 3, 3, 3,
       2, 3, 1, 3, 4, 3, 2, 4, 3, 5, 2, 4, 4, 5, 4, 3, 2, 3, 3, 2, 2, 2,
       3, 3, 1, 2, 2, 4, 5, 4, 2, 3, 4, 2, 2, 1, 4, 4, 3, 3, 3, 3, 4, 3,
       3, 3, 2, 4, 2, 4, 2, 3, 3, 2, 4, 2, 3, 3, 4, 2, 1, 3, 3, 1, 3, 3,
       3, 5, 2, 3, 4, 4, 3, 2, 3, 3, 2, 4, 2, 5, 1, 3, 1, 3, 4, 3, 3, 3,
       3, 3, 2, 2, 4, 2, 4, 1, 2, 5, 4, 3, 3, 1, 3, 3, 4, 2, 1, 2, 2, 5,
       3, 1, 2, 2, 3, 2, 5, 2, 4, 2, 1, 3, 4, 3, 2, 1, 3, 3, 4, 4, 5, 3,
       3, 3, 3, 2, 5, 3, 3, 3, 2, 2, 2, 5, 5, 1, 3, 4, 2, 4, 2, 3, 3, 2,
       2, 4, 3, 3, 3, 2, 4, 3, 3, 2, 3, 2, 3, 4, 3, 3, 2, 3, 3, 3, 3, 4,
       3, 3, 4, 2, 3, 3, 4, 3, 2, 3, 3, 5, 2, 1, 4, 3, 1, 1, 3, 3, 4, 4,
       4, 2, 2, 4, 4, 3, 5, 2, 3, 4, 2, 2, 4, 4, 4, 5, 2, 4, 1, 4, 2, 3,
       4, 4, 3, 2, 2, 1, 4, 5, 2, 3, 5, 2, 5, 2, 3, 3, 4, 2, 3, 3, 2, 4,
       1, 3, 2, 3, 4, 4, 1, 4, 2, 4, 4, 3, 2, 3, 2, 3, 3, 4, 4, 4, 4, 3,
       2, 3, 4, 2, 2, 3, 3, 3, 3, 3, 5, 4, 2, 4, 3, 4, 3, 3, 3, 3, 2, 3,
       2, 4, 4, 1, 2, 3, 4, 2, 3, 2, 2, 1, 2, 2, 5, 3, 4, 3, 4, 2, 5, 3,
       4, 5, 3, 1, 4, 2, 2, 2, 2, 4, 5, 3, 2, 4, 2, 3, 4, 4, 5, 3, 4, 3,
       2, 4, 4, 3, 2, 2, 3, 3, 1, 1, 4, 3, 3, 3, 4, 4, 3, 3, 2, 2, 3, 4,
       3, 3, 4, 3, 2, 3, 2, 5, 3, 2, 3, 3, 5, 5, 3, 4, 1, 4, 3, 2, 3, 3,
       1, 3, 3, 2, 3, 1, 2, 5, 3, 3, 3, 3, 3, 2, 3, 2, 3, 4, 2, 3, 4, 2,
       3, 2, 4, 2, 3, 1, 3, 5, 3, 1, 2, 3, 3, 3, 5, 4, 3, 3, 1, 4, 3, 5,
       3, 3, 4, 2, 3, 2, 4, 3, 2, 4, 3, 2, 3, 4, 2, 3, 1, 3, 2, 2, 5, 2,
       3, 4, 3, 5, 1, 4, 4, 2, 2, 5, 3, 5, 3, 2, 4, 3, 5, 3, 4, 3, 5, 4,
       3, 2, 3, 4, 3, 2, 3, 4, 3, 2, 2, 5, 3, 2, 5, 3, 2, 1, 2, 2, 2, 3,
       2, 3, 3, 4, 3, 3, 2, 2, 3, 4], dtype=int8)

변수의 종류(수치자료&범주형자료) 확인

In [38]:
주택._get_numeric_data()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0
...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0

In [36]:
변수명=주택.columns.tolist()
수치변수명=주택._get_numeric_data().columns.tolist()
범주변수명=list(set(변수명)-set(수치변수명))
print("전체변수명: ", 변수명)
print("수치변수명: ", 수치변수명)
print("범주변수명: ", 범주변수명)

전체변수명:  ['longitude', 'latitude', 'housing_median_age', 'total_rooms', 'total_bedrooms', 'population', 'households', 'median_income', 'median_house_value', 'ocean_proximity', '해변접근성']
수치변수명:  ['longitude', 'latitude', 'housing_median_age', 'total_rooms', 'total_bedrooms', 'population', 'households', 'median_income', 'median_house_value']
범주변수명:  ['ocean_proximity', '해변접근성']

In [37]:
수치변수명=주택.select_dtypes(include=np.number).columns.tolist()
범주변수명=주택.select_dtypes(exclude=np.number).columns.tolist()
print("수치변수명: ", 수치변수명)
print("범주변수명: ", 범주변수명)

수치변수명:  ['longitude', 'latitude', 'housing_median_age', 'total_rooms', 'total_bedrooms', 'population', 'households', 'median_income', 'median_house_value']
범주변수명:  ['ocean_proximity', '해변접근성']

표준화 & 정규화

In [39]:
주택.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  object
 10  해변접근성               20640 non-null  category
dtypes: category(1), float64(9), object(1)
memory usage: 1.6+ MB

In [40]:
수치자료=주택.iloc[:,[2,3,4,5,6,7]]
수치자료.head()

,housing_median_age,total_rooms,total_bedrooms,population,households,median_income
0,41.0,880.0,129.0,322.0,126.0,8.3252
1,21.0,7099.0,1106.0,2401.0,1138.0,8.3014
2,52.0,1467.0,190.0,496.0,177.0,7.2574
3,52.0,1274.0,235.0,558.0,219.0,5.6431
4,52.0,1627.0,280.0,565.0,259.0,3.8462

In [50]:
수치자료.mean()

housing_median_age      28.639486
total_rooms           2635.763081
total_bedrooms         537.870553
population            1425.476744
households             499.539680
median_income            3.870671
dtype: float64

In [41]:
수치자료-수치자료.mean(axis=0)

,housing_median_age,total_rooms,total_bedrooms,population,households,median_income
0,12.360514,-1755.763081,-408.870553,-1103.476744,-373.53968,4.454529
1,-7.639486,4463.236919,568.129447,975.523256,638.46032,4.430729
2,23.360514,-1168.763081,-347.870553,-929.476744,-322.53968,3.386729
3,23.360514,-1361.763081,-302.870553,-867.476744,-280.53968,1.772429
4,23.360514,-1008.763081,-257.870553,-860.476744,-240.53968,-0.024471
...,...,...,...,...,...,...
20635,-3.639486,-970.763081,-163.870553,-580.476744,-169.53968,-2.310371
20636,-10.639486,-1938.763081,-387.870553,-1069.476744,-385.53968,-1.313871
20637,-11.639486,-381.763081,-52.870553,-418.476744,-66.53968,-2.170671
20638,-10.639486,-775.763081,-128.870553,-684.476744,-150.53968,-2.003471
20639,-12.639486,149.236919,78.129447,-38.476744,30.46032,-1.482071

문자자료를 표준화 해도 되나? 고민 -> 첫번째 소프로젝트

In [46]:
표준자료=(수치자료-수치자료.mean(axis=0))/수치자료.std(axis=0)
표준자료.head()

,housing_median_age,total_rooms,total_bedrooms,population,households,median_income
0,0.982119,-0.804800,-0.970301,-0.974405,-0.977009,2.344709
1,-0.607004,2.045841,1.348243,0.861418,1.669921,2.332181
2,1.856137,-0.535733,-0.825541,-0.820757,-0.843616,1.782656
3,1.856137,-0.624199,-0.718750,-0.766010,-0.733764,0.932945
4,1.856137,-0.462393,-0.611959,-0.759828,-0.629142,-0.012881

In [48]:
표준자료.sample(5)

,housing_median_age,total_rooms,total_bedrooms,population,households,median_income
5402,-0.289180,-0.264374,0.287455,-0.067531,0.231372,-0.332174
11789,1.299943,-0.792423,-0.858765,-0.849898,-0.809614,-0.864013
1568,-1.242653,2.110930,1.113303,1.585504,1.170352,1.763812
20382,-1.004285,0.675296,0.012173,-0.014549,0.158137,2.229540
5109,1.141031,-0.223120,-0.106483,-0.096671,-0.098187,-1.233100

In [49]:
정규자료=(수치자료-수치자료.min(axis=0))/(수치자료.max(axis=0)-수치자료.min(axis=0))
정규자료.tail()

,housing_median_age,total_rooms,total_bedrooms,population,households,median_income
20635,0.470588,0.042296,0.057883,0.023599,0.054103,0.073130
20636,0.333333,0.017676,0.023122,0.009894,0.018582,0.141853
20637,0.313725,0.057277,0.075109,0.028140,0.071041,0.082764
20638,0.333333,0.047256,0.063315,0.020684,0.057227,0.094295
20639,0.294118,0.070782,0.095438,0.038790,0.086992,0.130253

시간자료 처리

In [51]:
pd.date_range("2023-3-2","2023-6-21")  # 시간 생성 freq 주기. 하루단위D

DatetimeIndex(['2023-03-02', '2023-03-03', '2023-03-04', '2023-03-05',
               '2023-03-06', '2023-03-07', '2023-03-08', '2023-03-09',
               '2023-03-10', '2023-03-11',
               ...
               '2023-06-12', '2023-06-13', '2023-06-14', '2023-06-15',
               '2023-06-16', '2023-06-17', '2023-06-18', '2023-06-19',
               '2023-06-20', '2023-06-21'],
              dtype='datetime64[ns]', length=112, freq='D')

In [52]:
pd.date_range("2023-3-2",periods=100)  # 100일

DatetimeIndex(['2023-03-02', '2023-03-03', '2023-03-04', '2023-03-05',
               '2023-03-06', '2023-03-07', '2023-03-08', '2023-03-09',
               '2023-03-10', '2023-03-11', '2023-03-12', '2023-03-13',
               '2023-03-14', '2023-03-15', '2023-03-16', '2023-03-17',
               '2023-03-18', '2023-03-19', '2023-03-20', '2023-03-21',
               '2023-03-22', '2023-03-23', '2023-03-24', '2023-03-25',
               '2023-03-26', '2023-03-27', '2023-03-28', '2023-03-29',
               '2023-03-30', '2023-03-31', '2023-04-01', '2023-04-02',
               '2023-04-03', '2023-04-04', '2023-04-05', '2023-04-06',
               '2023-04-07', '2023-04-08', '2023-04-09', '2023-04-10',
               '2023-04-11', '2023-04-12', '2023-04-13', '2023-04-14',
               '2023-04-15', '2023-04-16', '2023-04-17', '2023-04-18',
               '2023-04-19', '2023-04-20', '2023-04-21', '2023-04-22',
               '2023-04-23', '2023-04-24', '2023-04-25', '2023-04-26',
               '2023-04-27', '2023-04-28', '2023-04-29', '2023-04-30',
               '2023-05-01', '2023-05-02', '2023-05-03', '2023-05-04',
               '2023-05-05', '2023-05-06', '2023-05-07', '2023-05-08',
               '2023-05-09', '2023-05-10', '2023-05-11', '2023-05-12',
               '2023-05-13', '2023-05-14', '2023-05-15', '2023-05-16',
               '2023-05-17', '2023-05-18', '2023-05-19', '2023-05-20',
               '2023-05-21', '2023-05-22', '2023-05-23', '2023-05-24',
               '2023-05-25', '2023-05-26', '2023-05-27', '2023-05-28',
               '2023-05-29', '2023-05-30', '2023-05-31', '2023-06-01',
               '2023-06-02', '2023-06-03', '2023-06-04', '2023-06-05',
               '2023-06-06', '2023-06-07', '2023-06-08', '2023-06-09'],
              dtype='datetime64[ns]', freq='D')

In [54]:
pd.date_range("2023-4-5",periods=24,freq="h")

DatetimeIndex(['2023-04-05 00:00:00', '2023-04-05 01:00:00',
               '2023-04-05 02:00:00', '2023-04-05 03:00:00',
               '2023-04-05 04:00:00', '2023-04-05 05:00:00',
               '2023-04-05 06:00:00', '2023-04-05 07:00:00',
               '2023-04-05 08:00:00', '2023-04-05 09:00:00',
               '2023-04-05 10:00:00', '2023-04-05 11:00:00',
               '2023-04-05 12:00:00', '2023-04-05 13:00:00',
               '2023-04-05 14:00:00', '2023-04-05 15:00:00',
               '2023-04-05 16:00:00', '2023-04-05 17:00:00',
               '2023-04-05 18:00:00', '2023-04-05 19:00:00',
               '2023-04-05 20:00:00', '2023-04-05 21:00:00',
               '2023-04-05 22:00:00', '2023-04-05 23:00:00'],
              dtype='datetime64[ns]', freq='H')

In [60]:
시간자료=pd.DataFrame({'날짜': ['2023-04-05 00:00:00', '2023-04-06 01:00:00',
               '2023-04-07 02:00:00', '2023-04-08 03:00:00',
               '2023-04-09 04:00:00', '2023-04-10 05:00:00',
               '2023-04-11 06:00:00', '2023-04-12 07:00:00',
               '2023-04-13 08:00:00', '2023-04-14 09:00:00',
               '2023-04-15 10:00:00', '2023-04-16 11:00:00',
               '2023-04-17 12:00:00', '2023-04-18 13:00:00',
               '2023-04-19 14:00:00', '2023-04-20 15:00:00',
               '2023-04-21 16:00:00', '2023-04-22 17:00:00',
               '2023-04-23 18:00:00', '2023-04-24 19:00:00',
               '2023-04-25 20:00:00', '2023-04-26 21:00:00',
               '2023-04-27 22:00:00', '2023-04-28 23:00:00']})  # 이렇게 넣고 나면 문자열? 이라고
시간자료.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   날짜      24 non-null     object
dtypes: object(1)
memory usage: 320.0+ bytes

In [61]:
시간자료["날짜"]=pd.to_datetime(시간자료["날짜"], format='%Y-%m-%d %H:%M:%S', errors='raise')  # 그래서 숫자, 시간자료 등으로 바꿔
시간자료.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   날짜      24 non-null     datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 320.0 bytes

In [62]:
시간자료.head()

                   날짜
0 2023-04-05 00:00:00
1 2023-04-06 01:00:00
2 2023-04-07 02:00:00
3 2023-04-08 03:00:00
4 2023-04-09 04:00:00

날짜 & 시간 조정

In [63]:
import datetime
시간자료["날짜"]+datetime.timedelta(days=5)

0    2023-04-10 00:00:00
1    2023-04-11 01:00:00
2    2023-04-12 02:00:00
3    2023-04-13 03:00:00
4    2023-04-14 04:00:00
5    2023-04-15 05:00:00
6    2023-04-16 06:00:00
7    2023-04-17 07:00:00
8    2023-04-18 08:00:00
9    2023-04-19 09:00:00
10   2023-04-20 10:00:00
11   2023-04-21 11:00:00
12   2023-04-22 12:00:00
13   2023-04-23 13:00:00
14   2023-04-24 14:00:00
15   2023-04-25 15:00:00
16   2023-04-26 16:00:00
17   2023-04-27 17:00:00
18   2023-04-28 18:00:00
19   2023-04-29 19:00:00
20   2023-04-30 20:00:00
21   2023-05-01 21:00:00
22   2023-05-02 22:00:00
23   2023-05-03 23:00:00
Name: 날짜, dtype: datetime64[ns]

시간간격조정

In [66]:
시계열=pd.Series(np.random.randn(100), index=pd.date_range("2023-1-1", periods=100, freq="D"))
시계열.head()

2023-01-01    2.671053
2023-01-02    0.239150
2023-01-03    1.691497
2023-01-04   -1.988582
2023-01-05   -0.401330
Freq: D, dtype: float64

In [67]:
시계열.resample('W').mean()

2023-01-01    2.671053
2023-01-08    0.015358
2023-01-15   -0.435280
2023-01-22    0.360378
2023-01-29   -0.157533
2023-02-05    0.052598
2023-02-12   -0.208968
2023-02-19    0.567617
2023-02-26   -0.249136
2023-03-05   -0.034754
2023-03-12    0.333238
2023-03-19   -0.272991
2023-03-26   -0.520783
2023-04-02   -0.748065
2023-04-09   -0.042715
2023-04-16   -0.301760
Freq: W-SUN, dtype: float64

In [68]:
분당자료=pd.Series(np.random.randn(100), index=pd.date_range("2023-1-1", periods=100, freq="T"))
분당자료.head()

2023-01-01 00:00:00    1.405706
2023-01-01 00:01:00    0.194807
2023-01-01 00:02:00    0.392159
2023-01-01 00:03:00   -0.326253
2023-01-01 00:04:00    0.582623
Freq: T, dtype: float64

In [69]:
분당자료.resample('10T').ohlc() # 10분 간의 시작값 최대값 최소값 종료값

                         open      high       low     close
2023-01-01 00:00:00  1.405706  1.405706 -2.227441 -0.638053
2023-01-01 00:10:00 -0.193326  0.703146 -1.749928 -1.317502
2023-01-01 00:20:00 -0.574720  1.301356 -1.836315  1.301356
2023-01-01 00:30:00 -0.379284  1.148600 -1.246281 -0.653657
2023-01-01 00:40:00  0.135613  2.577194 -2.065025 -2.065025
2023-01-01 00:50:00  0.975551  1.686149 -1.884721 -0.556053
2023-01-01 01:00:00 -0.546315  2.637748 -1.125326  1.896144
2023-01-01 01:10:00  0.411414  1.662988 -1.012496 -0.219325
2023-01-01 01:20:00  0.643110  1.542001 -0.645408 -0.150621
2023-01-01 01:30:00 -0.111348  2.818926 -2.788645 -0.038879