In [1]:
import numpy as np
import pandas as pd

In [2]:
pd.options.display.float_format = '{:,.4f}'.format

In [5]:
# random 100,000 개의 관측개체 
# 10 변수
난수개수 = 100000
변수개수 = 10
values = np.random.random((난수개수, 변수개수))
df = pd.DataFrame(values)
df

           0      1      2      3      4      5      6      7      8      9
0     0.5385 0.3704 0.9247 0.9073 0.1803 0.6831 0.4466 0.3691 0.8609 0.8697
1     0.0398 0.3301 0.4311 0.4759 0.6416 0.8858 0.0585 0.7372 0.8025 0.6372
2     0.5252 0.2025 0.3957 0.2358 0.7708 0.9113 0.8728 0.3462 0.9892 0.2890
3     0.1956 0.4016 0.2087 0.8256 0.5733 0.0593 0.5913 0.2617 0.3520 0.8141
4     0.2254 0.3948 0.1773 0.9609 0.6844 0.1102 0.6007 0.2121 0.9512 0.5529
...      ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
99995 0.1085 0.5188 0.5024 0.3032 0.0115 0.2892 0.5133 0.2652 0.2126 0.8169
99996 0.5581 0.6223 0.7658 0.8865 0.1853 0.6950 0.9083 0.2327 0.8581 0.1195
99997 0.5309 0.2676 0.9231 0.0976 0.7808 0.7505 0.5773 0.7956 0.9689 0.3420
99998 0.6351 0.7411 0.5943 0.4028 0.4302 0.8472 0.7318 0.9690 0.0037 0.8796
99999 0.9805 0.9266 0.4662 0.5257 0.0499 0.3219 0.3080 0.2724 0.6924 0.0429

[100000 rows x 10 columns]

In [6]:
# pandas dataframe

In [7]:
df.columns = ["A","B","C","D","E","F","G","H","I","J"]
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 10 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   A       100000 non-null  float64
 1   B       100000 non-null  float64
 2   C       100000 non-null  float64
 3   D       100000 non-null  float64
 4   E       100000 non-null  float64
 5   F       100000 non-null  float64
 6   G       100000 non-null  float64
 7   H       100000 non-null  float64
 8   I       100000 non-null  float64
 9   J       100000 non-null  float64
dtypes: float64(10)
memory usage: 7.6 MB

In [8]:
test = df.head(n=10)

In [11]:
test.tail() # 10개 중 뒤의 5개

       A      B      C      D      E      F      G      H      I      J
5 0.2658 0.6828 0.1090 0.9579 0.0709 0.2120 0.0152 0.7773 0.1271 0.2300
6 0.9935 0.5435 0.9430 0.4034 0.3197 0.4420 0.7517 0.3066 0.6515 0.7786
7 0.1918 0.1600 0.9348 0.6000 0.5524 0.7996 0.8843 0.8396 0.3019 0.0606
8 0.2711 0.1353 0.6824 0.7190 0.2548 0.0573 0.8174 0.0526 0.6485 0.3250
9 0.8514 0.5542 0.2063 0.5873 0.4901 0.2280 0.9449 0.3165 0.3662 0.2259

In [12]:
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
     ---------------------------------------- 0.0/250.0 kB ? eta -:--:--
     ------------------------------------- 250.0/250.0 kB 15.0 MB/s eta 0:00:00
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2

In [13]:
# empty frame
df_result = pd.DataFrame(columns=['read','write'])
df_result.head()

Empty DataFrame
Columns: [read, write]
Index: []

In [14]:
#Excel
# tm = %timeit -o df.to_excel('test_data.xlsx')
# df_result.loc['excel', 'write'] = tm.best
# tm = %timeit -o df= pd.read_excel('test_data.xlsx')
# df_result.loc['excel', 'read'] = tm.best
# 오래걸리니까 실행 x

SyntaxError: cannot assign to function call (1296529947.py, line 3)

In [15]:
# CSV
tm = %timeit -o df.to_csv('test_data.csv')
df_result.loc['csv', 'write'] = tm.best
tm = %timeit -o pd.read_csv('test_data.csv')
df_result.loc['csv', 'read'] = tm.best

653 ms ± 19.1 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)
99.1 ms ± 2.65 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [16]:
# pickle
tm = %timeit -o df.to_pickle('test_data.pickle')
df_result.loc['pickle', 'write'] = tm.best
tm = %timeit -o pd.read_pickle('test_data.pickle')
df_result.loc['pickle', 'read'] = tm.best

1.59 ms ± 44.9 µs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)
2.36 ms ± 301 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [17]:
# feather
tm = %timeit -o df.to_feather('test_data.ftr')
df_result.loc['feather', 'write'] = tm.best
tm = %timeit -o pd.read_feather('test_data.ftr')
df_result.loc['feather', 'read'] = tm.best

5.61 ms ± 160 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)
4.85 ms ± 130 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [20]:
# Parquet 파케이
tm = %timeit -o df.to_parquet('test_data.parquet')
df_result.loc['parquet', 'write'] = tm.best
tm = %timeit -o pd.read_parquet('test_data.parquet')
df_result.loc['parquet', 'read'] = tm.best

52.6 ms ± 982 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)
7.23 ms ± 78 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [ ]:
# spark
## 한글이 포함된 데이터 Employee.csv